.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../../assets/impactOS1.png') no-repeat center center/cover;
  }
  
  .auth-container.dark {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../../assets/impactOS1.png') no-repeat center center/cover;
  }
  
  .auth-form {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 45%;
    min-height: 60%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .auth-form.dark {
    background-color: rgb(29, 27, 15);
    color: white;
  }
  
  .auth-form h2 {
    margin-bottom: 20px;
  }
  
  .auth-form .input-container {
    margin-bottom: 20px;
  }
  
  .auth-form .input-container input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .auth-form .input-container p.input-explanation {
    text-align: left;
    margin-top: 5px;
    font-size: 12px;
    color: #666;
  }
  
  .auth-form.dark .input-container input {
    background-color: #555;
    border: 1px solid #444;
    color: white;
  }
  
  .auth-form.dark .input-container p.input-explanation {
    color: #bbb;
  }
  
  .auth-form button {
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: #c1b620;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .auth-form button:hover {
    background-color: #a5951c;
  }

  .auth-form.login {
    width: 40%;
    min-height: 50%; /* Adjust the height for the login form */
  }
  
  .auth-form.signup {
    min-height: 60%; /* Adjust the height for the signup form */
  }
  
  .auth-form.dark button {
    background-color: #444;
  }
  
  .auth-form .third-party-login {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .auth-form .third-party-button {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
  }
  
  .auth-form .third-party-button:hover {
    background-color: #555;
  }
  
  .auth-form.dark .third-party-button {
    background-color: #555;
    color: white;
  }
  
  .auth-form.dark .third-party-button:hover {
    background-color: #777;
  }
  