nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  z-index: 999;
}

.navbar-logo img {
  position: relative;
  height: 50px;
  right: -40px;
  margin-top: 0px;
}

.navbar {
  box-shadow: 0 1px 0 #858282; /* add a bottom border to the navbar using box-shadow */
  padding: 0.2rem 1rem; /* add more padding to the top and bottom */

}
.navcontainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

input {
  padding: 12px 20px;
  border: none;
  background: #f7f6f6;
  outline: none;
  border-radius: 5px;
  width: 14rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  font-weight: bolder;
  font-size: medium;
}



.profile {
  display: flex;
  gap: 1rem;
}

.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
  color: #ffffff;
}
